@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.marker-icon {
  fill: #ff9800;  /* Default color (orange) */
}

.marker-icon.yellow {
  fill: #ffd600;  /* Yellow for 5-9 matches */
}

.marker-icon.green {
  fill: #4caf50;  /* Green for 10+ matches */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
